* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100%;
  background: beige;
}

.container{
  display: grid;
  grid-template-columns:1fr 5fr;
  grid-template-rows: 1fr 4fr;
}
.sidebar{
  display: grid;
  grid-column: 1/2;
  grid-row: -1/1;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(50px,75px) minmax(150px,250px) minmax(75px,125px);
  row-gap: 40px;
}

.sidebar>.middle,.sidebar>.upper,.sidebar>.lower{
  display: grid;
  row-gap: 20px;
}

.sidebar p{
  font-size: 1rem;
}
.sidebar h1{
  font-size: 1.5rem;
}
.sidebar a{
  text-decoration: none;
  color: black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items:center;
  align-items: center;
  gap: .5rem;

}
.sidebar a>p,a>h1{
  justify-self: start;
} 

.upperBar{
  display: grid;
  grid-column: -1/2;
  grid-row: 1/2;
  grid-template-rows: 1fr 2fr; 
}
.upperBar .upper{
  align-items:center ;
  display: grid;
  grid-column: -1/1;
  gap: 3rem;
  grid-template-columns: 2fr 1fr;
}

.upperBar > .upper div:nth-child(2){
  display: grid;
  grid-column: -1/2;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.upperBar > .upper div:nth-child(2) a{
  justify-self: end;
}
.upperBar > .upper div:nth-child(2) img{
  justify-self: center;
  
}
.upperBar > .upper div:nth-child(1){
  display: grid;
  grid-column: 1/2;
  grid-template-columns: 1fr 8fr;
  gap: 1rem;
}
.upperBar > .upper div:nth-child(1) label{
  justify-self: end;
}
input[type="search"] {
  border-radius: .5rem;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  background-color: #e2e8f0;
}

.upperBar .lower{
  display: grid;
  grid-column: -1/1;
  grid-template-columns: minmax(150px,300px) minmax(300px,500px);
  justify-content: space-between;
  align-items: center;
}
.upperBar .lower div:nth-child(1){
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  justify-self: start;
  align-items: center;
}
.upperBar .lower div:nth-child(1) img{
  justify-self: end;
}
.upperBar .lower> div:nth-child(2){
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: end;
  gap: 1rem;
}
button{
  height: 30px;
  width: 120px;
  border-radius: .5rem;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  background-color: #e2e8f0;
}
.midbar {
  display: grid;
  grid-column: -1/2;
  grid-template-columns:2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.projects {
  display: grid;
  grid-row: 1/3;
  grid-template-rows: 30px 1fr;
  justify-content: space-around;
} 
.projects h3{
  grid-column: -1/1;
  align-self: center; 
}
.projects .cards{
  display: grid;
  column-gap: clamp(20px,75px,125px);
  grid-template-columns: repeat(2,minmax(100px,300px));
}
.projects .cards > div{
  display: grid;
  grid-template-rows: 20px 2fr 1fr 20px;
  grid-template-columns: 20px 1fr 20px;
}
.projects .cards > div div:nth-child(1){
  grid-row: 2/3;
  grid-column: 2/3;
}
.projects .cards > div div:nth-child(2){
  grid-row: 3/4;
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
}
.announcements{
  display: grid;
  grid-template-rows: 30px 1fr;
}
.announcements .cards{
  display: grid;
  justify-self: baseline;
  grid-template-rows: 20px 1fr 20px;
  grid-template-columns: 25px minmax(100px,275px) 25px ;
}
.announcements .cards >div{
  display: grid;
  align-items: center;
  grid-row: 2/3;
  grid-column: 2/3;
}
.announcements h3{
  align-self: center;
}
.trending{
  display: grid;
  grid-column: -1/2;
  grid-template-rows: 30px 1fr;
  align-items: baseline;
  justify-items: baseline;
}

.trending .cards{
  display: grid;
  align-items: center;
  grid-template-columns: 25px minmax(100px,275px) 25px;
  grid-template-rows: 20px repeat(3,minmax(50px,75px)) 20px;
 
}
.trending .cards img{
  width: 2.5rem;
  
}
.trending .cards > div{
  display: grid;
  grid-auto-flow: column;
  grid-column: 2/3;
  grid-template-columns: 1fr 5fr;
  column-gap: 1rem;
} 

.trending .cards > div:nth-child(1){
  grid-row: 2/3;
}
.trending .cards > div:nth-child(2){
  grid-row: 3/4;
}
.trending .cards > div:nth-child(3){
  grid-row: 4/5;
}